# Ignore everything
*

!.gitignore 
!config.org 
!early-init.el 
!init.el 
!device.el 
!README.org 
!org/ 
!org/yankpad.org 
!org/workflows.org 
!org/org-roam.org
!org/filetags.org 
!org/.filetags
!org/.filetags-org
!template/
!template/roam-default.org
!template/roam-fleeting.org
!template/roam-journal.org
!template/roam-permanent.org