# Ignore everything
*

!.gitignore 
!config.org 
!early-init.el 
!init.el 
!device.el 
!README.org 
!org/ 
!org/yankpad.org 
!org/workflows.org 
!org/org-roam.org
!org/roam-tags.el
!org/filetags.org 
!org/.filetags
